*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 300px) {
    body{
        background-color: black;
        display: block;
    }

    
}

.signin {
    background-image: url(netflix.jpg);
    height: 1000px;
    overflow-x: hidden;
    }
    .signinbox h1 {
        color: white;
    }
    #p1{
        height: 4rem;
        border-radius: .2rem;
        box-sizing: border-box;
        border: ;
        width: ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    
    }
    #p2{
        height: 4rem;
        border-radius: .2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        
    }
    #p3{
        height: 4rem;
        border-radius: .2rem; 
        box-sizing: border-box;
        width: 26rem;
        background-color: rgb(223, 24, 9);
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
    
    
    
    .signinbox {
        color: white;
        background-color: rgb(0, 0, 0, .6);
        border-radius: .3rem;
        width: 400px;
        position: absolute;
        left:30%;
        padding: 60px;
        margin-top: 6rem;
    }
    .signinbox input{
        background-color: rgb(63, 62, 62);
        color: white;
    }
   .remember {
    color: white;
   }
